<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cabinet: Le voyageur de santé</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><button (click)="showPage('add-patient')" mat-button mat-raised-button>Ajouter un patient</button></li>
                <li><button (click)="showPage('list-inf')" mat-button mat-raised-button>Liste des infirmiers et de leurs patients</button></li>
                <li><button (click)="showPage('aff-patient')" mat-button mat-raised-button>Liste des patients à affecter</button></li>
            </ul>
        </div>
    </div>
</nav>

<div  *ngIf="currentPage === 'add-patient'">
    <div class="example-container">
        <form #form>
            <mat-form-field>
                <input required minlength="3" matInput placeholder="Nom" [(ngModel)]="patientName" name="patientName">
            </mat-form-field>

            <mat-form-field>
                <input required minlength="3" matInput placeholder="Prénom" [(ngModel)]="patientForName" name="patientForName">
            </mat-form-field>

            <mat-form-field>
                <input required minlength="15" matInput type="text" placeholder="Numéro sécurité sociale" [(ngModel)]="patientNumber" name="patientNumber">
            </mat-form-field>

            <mat-form-field>
                <mat-select required placeholder="Sexe" [(ngModel)]="patientSex" name="patientSex">
                    <mat-option aria-selected="true" value="F">Femme / Female</mat-option>
                    <mat-option value="M">Homme / Male</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input required matInput type="date" placeholder="Date de naissance" [(ngModel)]="patientBirthday" name="patientBirthday">
            </mat-form-field>

            <mat-form-field>
                <input required min="1" matInput type="number" placeholder="Etage" [(ngModel)]="patientFloor" name="patientFloor">
            </mat-form-field>

            <mat-form-field>
                <input required min="1" matInput type="text" placeholder="Numéro de la rue" [(ngModel)]="patientStreetNumber" name="patientStreetNumber">
            </mat-form-field>

            <mat-form-field>
                <input required minlength="1" matInput placeholder="Rue" name="patientStreet" [(ngModel)]="patientStreet">
            </mat-form-field>

            <mat-form-field>
                <input required minlength="3" matInput placeholder="Code Postal" [(ngModel)]="patientPostalCode" name="patientPostalCode">
            </mat-form-field>

            <mat-form-field>
                <input required minlength="1" matInput placeholder="Ville" [(ngModel)]="patientCity" name="patientCity">
            </mat-form-field>
        </form>

        <div style="text-align: center">
            <button (click)="submit()" color='primary' mat-button mat-raised-button>Ajouter</button>
        </div>
    </div>

</div>
<div *ngIf="currentPage === 'list-inf'">
    <app-infirmier #patients></app-infirmier>
</div>
<div *ngIf="currentPage === 'aff-patient'">
    <app-patient #patients></app-patient>
</div>
