.navbar{
    border-radius: 0 !important;
    background: #4682b4;
    box-shadow: 2px 2px 2px #4682b4;
}

.navbar a{
    color: #fff;
}

.navbar a:hover{
    color: #fff;
    background: #5c79b5;
}

button{
    margin-right: 10px;
    margin-top: 10px;
}

.navbar-brand{
    background: none !important;
    cursor: default;
}

.example-container {
    display: block;
}

form{
    padding-left: 50px;
    padding-right: 20px;
    display: block;
}

form  mat-form-field {
    width: calc(22% - 50px);
    padding: 15px;
}